{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Ma Boutique{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférénces avan de passer votre commande</p>
    <hr>
        <div class="col-md-6"></div>
            <b></b><br>
            <b></b>
        <div class="col-md-6"></div>
            <b></b><br>
            <b></b>
{% endblock %}
